# Default ignored files
/../../Atividade_Final./.idea/shelf/
/../../Atividade_Final./.idea/workspace.xml
# Ignored default folder with query files
/../../Atividade_Final./.idea/queries/
# Datasource local storage ignored files
/../../Atividade_Final./.idea/dataSources/
/../../Atividade_Final./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Atividade_Final./.idea/httpRequests/
